.progress-container {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 25px;
    overflow: hidden;
    margin-top: 20px;
}

.progress-bar {
    height: 30px;
    width: 0%;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
    font-weight: bold;
}


li > div {
    max-width: 100%; /* Limita la larghezza del contenitore principale */
}

li {
    position: relative; /* Necessario per ancorare il matchField */
    padding-right: 50px; /* Spazio per evitare sovrapposizione con il matchField */
}

.table-preview {
    overflow-x: auto; /* Permette lo scorrimento orizzontale della tabella */
    max-width: 100%; /* La tabella non esce dai limiti del contenitore */
    white-space: nowrap; /* Impedisce la rottura delle righe nella tabella */
    box-sizing: border-box; /* Considera padding e bordo nella larghezza */
    padding: 10px; /* Spazio interno opzionale */
    background-color: #f8f9fa; /* Sfondo opzionale */
    border: 1px solid #ccc; /* Bordo opzionale */
}

p {
    word-wrap: break-word; /* Spezza il testo lungo per mantenerlo nel container */
    white-space: normal; /* Consente il wrapping del testo */
    margin-bottom: 15px; /* Spazio tra la caption e la tabella */
}


#resultsContainer {
    overflow: hidden; /* Impedisce che i contenuti escano */
    max-width: 100%; /* Larghezza massima del contenitore principale */
    padding: 10px;
    box-sizing: border-box;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 8px; /* Bordo arrotondato */
}

.match-field {
    position: absolute;
    top: 10px; /* Distanza dal bordo superiore del li */
    right: 10px; /* Distanza dal bordo destro del li */
    font-size: 0.7rem;
    font-weight: bold;
    color: red;
}

.table-preview table {
    min-width: 600px; /* Larghezza minima della tabella */
    width: 100%; /* Adatta la tabella alla larghezza del contenitore interno */
    border-collapse: collapse; /* Unisce i bordi della tabella */
}

.table-preview th,
.table-preview td {
    padding: 8px;
    border: 1px solid #ee5a5a; /* Bordo sottile */
}

.table-preview th {
    background-color: #539ee9; /* Colore di sfondo dell'intestazione */
    font-weight: bold;
    text-align: center;
}
