.progress-container {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 25px;
    overflow: hidden;
    margin-top: 20px;
}

.progress-bar {
    height: 30px;
    width: 0%;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
    font-weight: bold;
}


.table-container {
    max-width: 90%; /* Limita la larghezza della tabella */
    overflow-x: auto; /* Permette lo scorrimento orizzontale su schermi piccoli */
}

.table-preview {
    display: table; /* Assicura che l'HTML della tabella sia trattato correttamente */
    margin: 0 auto; /* Centra la tabella */
    border-spacing: 0; /* Rimuove gli spazi tra celle */
    width: 100%; /* Rende la tabella responsiva */
}

.table-preview table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.table-preview th, .table-preview td {
    padding: 8px;
    border: 1px solid #ee5a5a; /* Bordo sottile e chiaro */
}

.table-preview th {
    background-color: #539ee9; /* Colore di sfondo per l'intestazione */
    font-weight: bold;
    text-align: center;
}
