<div th:fragment="browser">
    <div id="descriptionContainer" class="container-fluid py-5 text-center rounded mb-4 shadow">
        <h2 id="mainTitle" class="display-4 fw-bold mb-2">Welcome to Colour's Search Engine</h2>
        <p id="subTitle1" class="lead">The Best You’ve Ever Seen!</p>
        <p id="subTitle2" class="lead">Be careful you might became blind looking how beautiful it is!</p>
    </div>
    <div class="container d-flex justify-content-center mb-4">
        <div class="container col-3">
            <div class="card p-4 shadow-lg text-centerL">               
                <div class="form-group d-flex">
                    <label class="lead" for="resultCount">Articles:</label>
                    <select id="resultCount" class="form-control ms-3" style="max-width: 50px;">
                        <option value="5">5</option>
                        <option value="10" selected>10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>
                </div>
                <div>
                    <label class="lead" style="color: red;">Matching field appears on right</label>
                </div>
            </div>
        </div>
        <div class="container col-6">
            <div class="card p-4 shadow-lg w-100" style="max-width: 800px;">
                <form id="searchForm" onsubmit="performSearch(event)">
                    <div class="row align-items-center">
                        <div>
                            <input type="text" class="form-control" id="inputString" name="inputString" placeholder="Type your search here..." required>
                        </div>
                    </div>
    
                    <div class="mt-3">
                        <button type="submit" id="submitButton" class="btn w-100">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="container col-3"> 
            <div class="card p-4 shadow-lg text-center d-flex justify-content-center align-items-center">
                <div class="d-flex align-items-center">
                    <label for="colorPickerL" class="lead form-label me-2">Color Site</label>
                    <input type="color" id="colorPickerL" class="form-control form-control-color" value="#563d7c" title="Choose your color" style="min-width: 50px;">
                </div>
                <div class="d-flex mt-2">
                    <label class="lead form-label me-2">Who we are</label>
                    <a href="https://github.com/MatVitale6/IngegneriaDeiDatiProject" target="_blank" aria-label="GitHub Repository">
                        <svg height="32" width="32" viewBox="0 0 16 16" fill="currentColor" class="bi bi-github">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.13 0 0 .67-.21 2.2.82a7.68 7.68 0 0 1 2-.27c.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.11.16 1.93.08 2.13.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.19 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                        </svg>
                    </a>
                </div>                
                
            </div>
        </div>        
    </div>

    <!-- Container per i risultati della ricerca -->
    <div class="container mt-4">
        <div id="resultsContainer" class="p-4 rounded shadow">
            <h4 id="researchResults">Research results:</h4>
            <ul id="resultsList" class="list-unstyled"></ul>
        </div>
    </div>
    <script src="/script.js"></script>
</div>
